body {
    color: #83869A;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

h1,
h2,
h3 {
    color: #13183F;
    font-weight: 800;
}

h1 {
    font-size: 40px;
    line-height: 51px;
}

h2 {
    font-size: 24px;
    line-height: 32px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

a {
    color: #F74780;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-decoration: none;
}

.btn {
    border-radius: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 167px;
    height: 56px;
    color: #fff;
    font-size: 16px;
}

.btn-header {
    background-color: #13183F;
}

.btn-main {
    background: rgb(240,42,166);
    background: linear-gradient(0deg, rgba(240,42,166,1) 25%, rgba(255,111,72,1) 75%);
}

.btn-footer {
    background: rgb(240,42,166);
    background: linear-gradient(0deg, rgba(240,42,166,1) 25%, rgba(72,81,255,1) 75%); 
}

@media (min-width: 1440px) {

    h1 {
        font-size: 56px;
        line-height: 70px;
    }

    h2 {
        font-size: 32px;
        line-height: 40px;
    }

    h3 {
        font-size: 24px;
        line-height: 28px;
    }

    p {
        font-size: 18px;
        line-height: 28px;
    }

    .btn {
        font-size: 18px;
    }

}